*{
    margin: 0;
    padding: 0;
    font-family: Inter;

}
body{
    background-color: rgba(250, 250, 250, 0.938);
}
a{
    text-decoration: none;
    color: black;
}
.transform-right{
   transform: rotate(5deg);
}
/* nav bar  */
.NavBar{
    height: 100px;
    /* border: 1px solid green; */
    align-items: center;
    height: auto;
    /* width: 100vw; */
}

.container{
    display: flex;
    justify-content: space-between;
    padding: 24px;
}

.container .logo a{
    text-decoration: none;
    color: black;
    font-size: 2.5rem;
    display: flex;
    align-items: center;
}
.container .nav-links{
    display: flex;
    align-items: center;
    
    
}
.container .nav-links a{
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    padding-left: 16px;
    padding-right:16px;
    
}

.button-round{
    width: max-content;
    padding: 8px 12px;
    border: 2px solid black;
    border-radius: 60px;
    font-size: 1.2rem;
    background-color: #ffcc01;
    font-weight: bold;    
}
/* Nav bar  */
/* Main Section */
.container-main{
    /* width: 100vw; */
    /* border: 1px solid red; */
    padding:12px 30px;
}
.container-main .color-container{
    /* border: 1px solid black; */
    border-radius: 50px ;
    height: 100vh;
    /* margin-top:px; */
    background-color: #ffcc01;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px;
}
.description-container h1{
        font-size: 5rem;
        width: 400px;
        border-bottom: 2px solid black;
        padding-bottom:2rem;
}
.description-container p{
    font-size: 2rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
}
.description-container a{
    background-color: #ffff;
}
.image-container img{ 
    width: 600px;
    height: 600px;
    border-radius: 50px;

}
/* Main section */
/* section 2 */
.section-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px;

}
.section-2 .left{
    padding: 32px;
    border-radius: 50px;
    background-color: #eeee;
    width: 50%;
}
.section-2 .left h1{
    font-size: 2.5rem;
    padding-bottom: 16px;
}
.section-2 .left img{
    width: 600px;
    border-radius: 50px;

}
.section-2 .left div{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.section-2 .left div span {
    margin-top: 16px;
    display: flex;
    flex-direction: column;

}
.section-2 .left div span a {
    background-color: #ffff;
}

.section-2 .right{
    width: 50%;
    padding: 16px;
}
.section-2 .right .card{
    /* background-color: red; */
    /* padding:100px 40px; */
    padding: 30px;
    border-radius: 50px;
    margin: 10px 0px;
    font-size: 2rem;
    font-weight: bold;
    padding-bottom: 40px;
}
.section-2 .right .card p{
    margin-bottom: 120px;
}
.section-2 .right #card1{
    background-color: #c2f549;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section-2 .right #card2{
    background-color: #fff;
}


/* section 2 */

/* About section */
.about{
    padding: 30px;
}
.about div {
    padding: 80px 160px ;
}
.about h1{
    font-size: 2rem;
    margin-bottom: 20px;
}
.about p{
    font-size: 2.2rem;
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
    word-wrap: break-word;
    word-break: break-word;
    margin-bottom: 1rem;
}
/* About section */
/* our features */
.our-features{
    padding: 32px;
}
.features-wrapper h1{
    font-size: 2.2rem   ;
}
.card-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    border-radius: 50px;
    background-color: #ffffff;
    /* background-color: #ffcc01;   */
}
.features-card{
    display: flex;
    flex-direction: column;
    padding: 32px 0px;
    margin: 16px;
    border-radius: 30px;
    width: 33.33%;
    align-items: center;

}
.features-card h6{
    font-size: 1.2rem;
    font-weight: 800;
    margin-bottom: 5px;
}
.features-card h2{
    font-size: 2rem;
    padding-bottom: 30px;
}
.features-card img{
    width: 330.6px;
    height: 350px;
    border-radius: 10px;
    object-fit: cover;
    margin: 0px 10px;

}
.features-card span{
    width: 80%;
    display: flex;
    justify-content: space-between ;
    align-items: center;
    margin: 15px;
}
.features-card span a{
    background-color: #fff;
}
.features-card span b{
    font-size: 2rem;
}
#feature-card-1{
    background-color: #ffcc01;
}
#feature-card-2{
    background-color: #eeee;
}
#feature-card-3{
    background-color: #c2f549;
}
/* our features */
/* our skills */
.our-skills{
    padding: 32px;
}
.skill-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px 0px;
}
.skill-right{
    width: 50%;
    padding: 5px;
}
.skill-left{
    width: 50%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.skill-left h1{
    font-size: 4rem;
}
.skill-left p{
    width: 90%;
    font-size: 1.5rem;
}
.bar-color{
    background-color: #ffcc01;
    margin-bottom: 20px;
}
.progress-wrapper span{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* Our skills */

/* Our Team */
.our-team{
    padding: 32px;
}
.team-wrapper h1{
    font-size: 2rem;
    padding: 5px;
}
.team-wrapper h5{
    font-size: 1rem;
    padding: 5px;
}
.team-card-wrapper{
    display: flex;
    justify-content: space-evenly;
    background-color: #ffcc01;
    border-radius: 50px;
    padding: 20px;
}
.team-card{
    background-color: #eee;
    border-radius: 50px;
    margin: 20px;
    width: 33.33%;
    height:max-content;
    display: flex;
    flex-direction: column;

    /* overflow: hidden; */
}
.team-card span{
    padding: 20px;
    padding-bottom: 40px;
}
.team-card span h2{
    padding: 2px 10px;
}
.team-card span h4{
    padding:2px 10px;
}
.team-card span p{
    padding: 0px 10px 15px 10px;
}
.team-card img{

    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 50px 50px 0px 0px;
}

/* Our Team */
/* what our user say */
.user-say{
    padding: 32px;
    width: 100%;
}
.user-say-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.slider{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.slider img{
    width: 200px;
    height: 200px;
    border-radius: 100px;
}
.slider p{
    width: 50%;
    font-size: 1.4rem;
    text-align: center;
    margin-top: 5px;
}
/* what our user say */
/* section 3 */
.big-intro{
    background-color: #ffcc01;
    padding: 100px 30px;

}
.big-wrapper{
    background-color: #eee;
    padding: 40px;
    border-radius: 25px;
}
.big-wrapper img{
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    padding-bottom: 30px;
    border-bottom: 2px solid black;
}
.big-wrapper div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}
/* section 3 */
.white-bg{
    background-color: #eee;
}
/* our partner */
.our-partner{
    padding: 60px 32px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.partner-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    border-radius: 25px;
    margin: 10px;
    padding: 20px;
}
.partner-card img{
    width: 150px;
}
.partner-card p{
    width: 80%;
    margin-bottom: 25px;
}
.partner-card a{
    margin-bottom: 25px;
}
/* our partner */
/* subscribe */

.subscribe{
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-wrapper{
    background-color: #ffcc01;
    padding: 50px;
    border-radius: 30px;
}
.form-wrapper input{
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    margin-right:10px;
    font-weight: 900;

}
/* subscribe */

/* contacts */

.contacts {
    padding:32px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.contact-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact-grid{
    display:grid;
    grid-template-columns: auto auto;
    gap: 25px ;
    
}
.contact-grid div{
    background-color: #eee;
    display: flex;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    padding: 0px 10px;
    margin-right: 50px;


}
.contact-grid div i {
    color: #ffcc01;
    font-size: 6rem;
    margin: 5px 5px 5px 5px;
}
.contact-grid div span{
    margin-right:200px;
    font-size: 1.2rem ;
 }
.contact-wrapper h1{
    font-weight: 800;
    font-size: 3rem;
}
.contact-wrapper p {
    font-size: 1.2rem;
    padding-bottom: 20px;
}
/* contacts */


/* Footer */
.footer{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}
.footer div{
    color: white;
}
/* Footer */